.heading{
    font-size: 20px;
    width: 40%;
}
.btn-success:hover{
    background-color: red;

}
canvas{
    animation-name:changecolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes changecolor{
    from{box-shadow:5px 5px  40px red}
    to{box-shadow: 5px 5px  40px yellow;}
}